.wrapper {
  background-color: var(--background-color);
  color: var(--text-color-secondary);
  display: flex;
  flex-direction: column;
  font-size: small;
  font-weight: 500;
  height: fit-content;
  overflow-y: auto;
  padding: 0.3rem 1.2rem;
  margin-top: 10px;
  width: 100%;

  & span {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1.3rem;
  }
}
