.container {
  background-color: var(--background-color-acent);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  & main {
    background-color: var(--background-color-acent);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100% - 350px);
    padding: 1rem 2rem;
  }
}
